services:
  postgres:
    image: postgres:17-alpine
    container_name: geotech_db
    restart: always
    environment:
      POSTGRES_USER: directus
      POSTGRES_PASSWORD: password
      POSTGRES_DB: directus
    volumes:
      - geotech_db_data:/var/lib/postgresql/data
    networks:
      - geotech_network

  redis:
    image: redis:7-alpine
    container_name: geotech_redis
    restart: always
    ports:
      - "6379:6379"
    networks:
      - geotech_network

  directus:
    image: directus/directus:11.2
    container_name: geotech_cms
    restart: always
    ports:
      - "8055:8055"
    environment:
      KEY: "${KEY:-replace-with-random-key}"
      SECRET: "${SECRET:-replace-with-random-secret}"
      DB_CLIENT: "pg"
      DB_HOST: "postgres"
      DB_PORT: "5432"
      DB_DATABASE: "directus"
      DB_USER: "directus"
      DB_PASSWORD: "password"
      CACHE_ENABLED: "true"
      CACHE_STORE: "redis"
      CACHE_REDIS: "redis://redis:6379"
      REDIS: "redis://redis:6379"
      CORS_ENABLED: "true"
      CORS_ORIGIN: "http://localhost:3000"
      ADMIN_EMAIL: "${ADMIN_EMAIL:-admin@geotech.hub}"
      ADMIN_PASSWORD: "${ADMIN_PASSWORD:-geotech-hub-2026}"
    depends_on:
      - postgres
      - redis
    networks:
      - geotech_network

networks:
  geotech_network:
    driver: bridge

volumes:
  geotech_db_data:
